*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.5rem;
}

header,
main {
    background-color: aliceblue;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 10rem;
    padding: 4rem 0 4rem 0;
}

footer {
    background-color: black;
    color: white;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 4rem;
}

footer p {
    margin: 0;
    font-size: 3rem;
}

footer div a {
    margin: 0 1rem;
}

img.logo {
    height: 25px;
    width: 25px;
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background-color: black;
    margin-left: 1rem;
}

::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color:rgb(240, 248, 255, 0.7);
    border: 2px solid black;
    border-radius: 1rem;
}